@model ViewEmployee
@{
    ViewBag.Title = "Remove Employee";
    var msg = ViewBag.Error != null ? ViewBag.Error : "";
}

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <p><a asp-controller="Employee" asp-action="Profile" asp-route-id="@Model.Id">Employee</a> &gt; @Model.Fullname</p> 
            </div>
        </div>
        @if (!string.IsNullOrEmpty(msg))
        {
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error</strong> @msg
            </div>
        }
        <div class="row">
            <div class="col-3">
                <img id="avatar" class="rounded-circle" src="@Url.Content($"/images/{Model.AvatarPath}")" style="width:100%" />
            </div>
            <div class="col-9">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="Firstname"></label>
                            <h6>@Model.Firstname</h6>
                        </div>
                        <div class="col-6">
                            <label asp-for="Lastname"></label>
                            <h6>@Model.Lastname</h6>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="Code"></label>
                            <h6>@Model.Code</h6>
                        </div>
                        <div class="col-6">
                            <label asp-for="Age"></label>
                            <h6>@Model.Age</h6>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <h6>@Model.Email</h6>
                </div>
                <a class="btn btn-primary" asp-controller="Employee" asp-action="ConfirmDelete" asp-route-employeeId ="@Model.Id">
                    <i class="fa fa-check" style="font-size:32px" aria-hidden="true"></i>
                </a>
                <a asp-controller="Employee" asp-action="Profile" asp-route-id="@Model.Id" class="btn btn-danger">
                    <i class="fa fa-undo" style="font-size:32px" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

</div>
