@*@model List<ViewEmployee>*@
@model PaginationEmployee
@{
    ViewBag.Title = "Employee";
    var pageNumber = 1;
    int[] pagesizeItem = new int[] { 12, 24, 36, 48, 60 };
}

<div class="row">
    <div class="col-12">
        <a class="btn btn-primary" asp-controller="Employee" asp-action="Create"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-3">
                <select id="pageSize" class="custom-select" onchange="changePageSize()">
                    @foreach (int item in pagesizeItem)
                    {
                        if (item == Model.Pagination.PageSize)
                        {
                            <option value="@item" selected>@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }

                    }

                </select>
            </div>
            <div class="col-9">
                <input class="form-control" value="@Model.Pagination.Keyword" oninput="search(this)"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var emp in Model.Employees)
    {
        <div class="col-sm-4 col-md-2">
            <div class="card">
                <div class="card-header">
                    <h6 style="font-size: 14px">@emp.Fullname</h6>
                </div>
                <img class="card-img-top" src="@Url.Content($"/images/{emp.AvatarPath}")" style="width: 100%; height: 150px;" alt="Card image">
                <a asp-controller="Employee" asp-action="Profile" asp-route-id="@emp.Id" style="font-size: 14px" class="btn btn-success">Profile</a>
            </div>
        </div>
    }
</div>
<div class="row mt-1 mb-0">
    <div class="col-12">
        <ul class="pagination">
            <li class="@(Model.Pagination.CurrentPage == 1 ? "page-item disabled" : "page-item")"><a class="page-link" asp-controller="Employee" asp-action="index" asp-route-pageNumber="1">First</a></li>
            <li class="@(Model.Pagination.CurrentPage == 1 ? "page-item disabled" : "page-item")"><a class="page-link" asp-controller="Employee" asp-action="index" asp-route-pageNumber="@(Model.Pagination.CurrentPage-1)">Previous</a></li>
            @for (pageNumber = Model.Pagination.StartPage; pageNumber <= Model.Pagination.EndPage; pageNumber++)
            {
                <li class="@(pageNumber == Model.Pagination.CurrentPage ? "page-item active" : "page-item")"><a class="page-link" asp-controller="Employee" asp-action="index" asp-route-pageNumber="@pageNumber">@pageNumber</a></li>
            }
            <li class="@(Model.Pagination.CurrentPage == Model.Pagination.TotalPages ? "page-item disabled" : "page-item")"><a class="page-link" asp-action="index" asp-route-pageNumber="@(Model.Pagination.CurrentPage+1)">Next</a></li>
            <li class="@(Model.Pagination.CurrentPage == Model.Pagination.TotalPages ? "page-item disabled" : "page-item")"><a class="page-link" asp-action="index" asp-route-pageNumber="@Model.Pagination.TotalPages">Last</a></li>
        </ul>
        
    </div>
</div>

@section Script{ 
    <script>
        function changePageSize() {
            window.location.href =`/Employee/Index/?pageNumber=1&pageSize=${$('#pageSize').val()}`;
        }
        function search(el) {
            if ($(el).val() == null || $(el).val()== '')
            {
                window.location.href = `/Employee/Index/?pageNumber=1&pageSize=${$('#pageSize').val()}`;
            }
            else {
                window.location.href = `/Employee/Index/?pageNumber=1&pageSize=${$('#pageSize').val()}&keyword=${$(el).val()}`;
            }
        }
    </script>
}
